<h1>個展一覧</h1>

<div class="index-link">
  <%= link_to '個展を開催する', new_photo_path, class: 'btn' %>
</div>

<div class="photo-indexes">
  <% @photos.each do |photo| %>
    <div class="photo-index">
    <% if photo.images.attached?  %>
      <% photo.images.each do |image| %>
        <%= image_tag image %> <br>
      <% end %>
    <% end %>
    <p><%= link_to photo.title, photo_path(photo) %></p>
    <p>Likes: <%= photo.likes_users.count %></p>
    </div>
  <% end %>
</div>